/* ########################## Global ########################## */
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.main-title {
    margin: 100px auto;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}

.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.4s;
}

.main-title::before,
.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.main-title::before {
    left: -30px;
}

.main-title::after {
    right: -30px;
}

.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        border-radius: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        border-radius: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

/* ########################## Header ########################## */
header {
    background-color: white;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /*small screen wrap*/
    position: relative;
    /*For mega menu*/
}

header .logo {
    color: var(--main-color);
    font-weight: bold;
    font-size: 24px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .main-nav {
    display: flex;
}

@media (max-width:767px) {
    header .logo {
        width: 100%;
    }

    header .main-nav {
        margin: auto;
    }

    header .main-nav>li>a {
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}

header .main-nav>li:hover .mega-menu {
    z-index: 1;
    opacity: 1;
    top: 62px;
}

header .main-nav>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62px;
    position: relative;
    color: black;
    padding: 0px 20px;
    transition: var(--main-transition);
    overflow: hidden;
}

header .main-nav>li>a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
}

header .main-nav>li>a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}

header .main-nav>li>a:hover::before {
    left: 0;
}

/* Mega Menu */
header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    z-index: 100;
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    transition: top var(--main-transition), opacity var(--main-transition);
    z-index: -1;
    opacity: 0;
}

@media (max-width:767px) {
    header .mega-menu {
        flex-direction: column;
        padding: 5px;
        gap: 0;
    }
}

header .mega-menu .image img {
    max-width: 100%;
}

@media (max-width:991px) {
    header .mega-menu .image {
        display: none;
    }
}

header .mega-menu .links {
    min-width: 250px;
    flex: 1;
}

header .mega-menu .links li {
    position: relative;
}

@media (max-width:767px) {
    header .mega-menu .links:first-of-type li:last-child {
        border-bottom: 1px solid #e9e6e6;
    }
}

header .mega-menu .links li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--main-transition);
}

header .mega-menu .links li:hover::before {
    content: '';
    width: 100%;
}

header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}

header .mega-menu .links li a {
    color: var(--main-color);
    display: block;
    padding: 15px;
    font-size: 1rem;
    font-weight: bold;
}

header .mega-menu .links li a i {
    margin-right: 10px;
}

/* ########################## landing ######################### */
.landing {
    position: relative;
}

.landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: -30;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}

.landing .container {
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}

.landing .text {
    flex: 1;
}

.landing .text h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}

.landing .text p {
    font-size: 24px;
    line-height: 1.5;
    margin: 5px 0 0;
    color: #666;
    max-width: 500px;
}

.landing .image img {
    position: relative;
    width: 600px;
    animation: up-and-down 3s linear infinite;
}

@keyframes up-and-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -30px;
    }
}

@media (max-width:991px) {
    .landing .image {
        display: none;
    }

    .landing .text {
        text-align: center;
    }

    .landing .text p {
        margin: 10px auto;
        line-height: 1.2;
    }
}

.landing .go-down {
    position: absolute;
    color: var(--main-color);
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    transition: var(--main-transition);
}

.landing .go-down:hover {
    color: var(--main-color-alt);

}

.landing .go-down i {
    animation: bouncing 1s infinite;
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-15px);
    }
}

/* ########################## Header ########################## */
.articles {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.articles .box {
    box-shadow: 0 2px 15px rgb(0, 0, 0, 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition), box-shadow;
}

.articles .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0, 0, 0, 20%);
}

.articles .box img {
    width: 100%;
    max-width: 100%;
}

.articles .box .content {
    padding: 20px;
}

.articles .box .content h3 {
    margin: 0;
}

.articles .box .content p {
    margin: 10px 0 0;
    line-height: 1.5;
    color: #777;
}

.articles .box .info {
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articles .box .info a {
    color: var(--main-color);
    font-weight: bold;
}

.articles .box .info i {
    color: var(--main-color);
}

.articles .box:hover .info i {
    animation: moving-arrow 0.6s linear infinite;
}

@keyframes moving-arrow {
    100% {
        transform: translateX(10px);
    }
}

/* ########################## Gallery ######################### */
.gallery {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.gallery .box {
    background-color: white;
    padding: 15px;
    box-shadow: 0px 12px 20px 0px rgb(0, 0, 0, 13%), 0px 2px 4px 0px rgb(0, 0, 0, 12%);
}

.gallery .box .image {
    position: relative;
    overflow: hidden;
}

.gallery .box .image::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.21);
    height: 0px;
    width: 0px;
    opacity: 0;
    z-index: 2;
}

.gallery .box .image:hover::before {
    animation: flashing 0.7s;
}

@keyframes flashing {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

.gallery .box .image img {
    max-width: 100%;
    transition: var(--main-transition);
}

.gallery .box .image:hover img {
    transform: rotate(5deg) scale(1.1);
}